table {
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;

}

table td {
    text-align: center;
    vertical-align: center;
}

th, td {
    border: 1.5px solid black;
    border-collapse: collapse;
}

table.tab2 {
    border: 3px solid black;
    text-align: center;
    vertical-align: bottom;
}
.prepared_answers {
    display: inline-block;
    width: 300px;
    border: 3px solid black
}

.cancel_messages {
    display : none;

}
.confirm_messages {
    display : none;
}
button {
    margin: 10px;
    width: 50px;
    height: 20px;
}
.messages_forms {
    width: 260px;
    height: 200px;
    /*display: none;*/
}
.hidden-input {
    position: sticky;
    display: none;
    width: 150px;
    height: 30px
}
