<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
<div>
    <table border="3" style="background-color: coral">
        <thead>
        <tr>
            <th>itemID</th>
            <th>shareID</th>
            <th>lat</th>
            <th>longitude</th>
            <th>state</th>
            <th>user</th>
        </tr>
        </thead>
        <tbody>
        <tr style="border: 2px;" th:each="item : *{items}">
            <td align="center"  th:text="${item.itemId}" /></td>
            <td align="center"  th:text="${item.share.shareId}" /></td>
            <td align="center"  th:text="${item.latitude}"/></td>
            <td align="center"  th:text="${item.longitude}"/></td>
            <td align="center"  th:text="${item.state}"/></td>
            <td align="center"  th:if="${item.userItem != null}"  th:text="${item.userItem.user.login}"/></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>