<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/css/styles.css" th:href="@{/css/styles.css}" />

</head>
<body>
<div id="google_translate_element">
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'ru'
            }, 'google_translate_element');
        }
    </script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div class="tab-label">

        <div th:if="${user.hasCompany}">
            <h2 align="center" th:text="#{company.shares}"></h2>
        </div>

        <table width="500px" align="center">
            <thead>
            <tr>
                <th> login</th>
                <th> company</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${user}">
                <td th:text="${user.getLogin()}" /></td>
                <td th:if="${user.isHasCompany()}" th:text="${company.getName()}"/></td>
                <th:form>
                    <td>
                        <a th:href="@{/admin/delete/{id}(id=${user.id})}"/>
                            <div  th:text="delete"> </div>
                    </td>
                </th:form>
            </tr>
            </tbody>
        </table>

        <div style="height: 100px">

        </div>

        <div >
            <table th:if="${shares != null}">
                <thead>
                <tr>
<!--                    <th><a th:text="#{share.login}"></a></th>-->
<!--                    <th><a th:text="#{share.productName}"></a> </th>-->
<!--                    <th><a th:text="#{share.productDescription}"></a> </th>-->
<!--                    <th><a th:text="#{share.linkOnProductUrl}"></a> </th>-->
<!--                    <th><a th:text="#{share.price}"></a> </th>-->
<!--                    <th><a th:text="#{share.count}"></a> </th>-->
<!--                    <th><a th:text="#{share.announcementDuration}"></a> </th>-->
<!--                    <th><a th:text="#{share.shareDuration}"></a> </th>-->
<!--                    <th><a th:text="#{share.afterShareDuration}"></a> </th>-->
<!--                    <th><a th:text="#{share.placeCountry}"></a> </th>-->
<!--                    <th><a th:text="#{share.placeRegion}"></a></th>-->
<!--                    <th><a th:text="#{share.placeCity}"></a> </th>-->
<!--                    <th><a th:text="#{share.color}"></a></th>-->
<!--                    <th>      </th>-->
                    <th><a >login</a></th>
                    <th><a >product name</a> </th>
                    <th><a >product description</a> </th>
                    <th><a>link on product url</a> </th>
                    <th><a>price</a> </th>
                    <th><a>count</a> </th>
                    <th><a>announcement duration</a> </th>
                    <th><a>share duration</a> </th>
                    <th><a>after share duration</a> </th>
                    <th><a>place country</a> </th>
                    <th><a>place region</a></th>
                    <th><a >place city</a> </th>
                    <th><a>color</a></th>
                    <th>      </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="share : ${shares}"
                    th:if="${share.createStatus == T(com.sergo.wic.entities.CreateShareState).CREATED }">
                    <td th:text="${share.getLogin()}" /></td>
                    <td th:text="${share.getProductName()}"/></td>
                    <td th:text="${share.getProductDescription()}" /></td>
                    <td th:text="${share.getLinkOnProduct()}"/></td>
                    <td th:text="${share.getProductPrice()}" /></td>
                    <td th:text="${share.getProductCount()}"/></td>
                    <td th:text="${share.getAnnouncementDuration()}" /></td>
                    <td th:text="${share.getShareDuration()}"/></td>
                    <td th:text="${share.getAfterShareDuration()}" /></td>
                    <td th:text="${share.getPlaceCountry()}"/></td>
                    <td th:text="${share.getPlaceRegion()}" /></td>
                    <td th:text="${share.getPlaceCity()}"/></td>
                    <td th:text="${share.getColor()}"/></td>

                    <td/>
                        <div>
                            <div>
                                <form th:action="@{'/admin/show/'+ ${user.id} + '/confirm'}" method="post">
                                    <select name="reason" required size="3">
                                        <option disabled>choose message</option>
                                        <option value="mistake">thanks for choosing us!</option>
                                        <option value="bad content">great!</option>
                                    </select>

<!--                                    <input type="text" th:placeholder="'enter message'" name="reason" required/>-->
                                    <input type="hidden" name="share_id" th:value="${share.id}">
                                    <input type="submit" value="confirm" />
                                </form>
                            </div>
                            <div>
                                <form th:action="@{'/admin/show/' + ${user.id} + '/cancel'}" method="post">
                                    <select name="reason" required size="3">
                                        <option disabled>choose reason</option>
                                        <option value="mistake">mistake</option>
                                        <option value="bad content">bad content</option>
                                    </select>
<!--                                    <input type="text" th:placeholder="'enter reason'" name="reason" required />-->
                                    <input type="hidden" name="share_id" th:value="${share.id}">
                                    <input type="submit" value="cancel" />
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>